jaasclient {
    // Login Module to use for the example jaasclient.

    //First, use a LoginModule for the authentication
    // Use the resource memrlm_1

    //By default it uses the server named 'jonas' to authenticate
    // to specify a different server name, use attribute 'serverName="myJonas"'
    org.ow2.jonas.security.auth.spi.JResourceLoginModule required
    resourceName="memrlm_1"
    ;

    // The previous JResourceLoginModule was renamed to JDirectResourceLoginModule
    // You need to activate the registration of resources in jonas.properties file


    // Use the login module to propagate security to the JOnAS server
    // globalCtx is set to true in order to set the security context
    // for all the threads of the client container instead of only
    // on the current thread.
    // Useful with multithread applications (like Swing Clients)
    org.ow2.jonas.security.auth.spi.ClientLoginModule  required
    globalCtx="true"
    ;
};
